<tkl.jumbo>
  <networkTopology resolver="Tkl.Jumbo.Topology.PatternTopologyResolver, Tkl.Jumbo" />
  <!--
    Possible values for patternType are RegularExpression and RangeExpression.
    For RangeExpression, patterns should follow the format as outlined by the documentation
    of the Tkl.Jumbo.Topology.RangeExpression class.
  -->
  <patternTopologyResolver patternType="RegularExpression">
    <racks>
      <!--<rack id="rack1" pattern="^.*$" />-->
    </racks>
  </patternTopologyResolver>
</tkl.jumbo>