<?xml version="1.0" encoding="utf-8"?>
<tkl.jumbo.dfs>
  <nameServer hostName="localhost"
              port="9000"
              blockSize="67108864"
              replicationFactor="1"
              listenIPv4AndIPv6="true"
              editLogDirectory="D:\jumbo" />
  <dataServer port="9001" blockStoragePath="D:\jumbo\blocks" listenIPv4AndIPv6="true" />
</tkl.jumbo.dfs>