<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tkl.jumbo.dfs" type="Tkl.Jumbo.Dfs.DfsConfiguration, Tkl.Jumbo.Dfs"/>
    <section name="tkl.jumbo.jet" type="Tkl.Jumbo.Jet.JetConfiguration, Tkl.Jumbo.Jet"/>
  </configSections>
  <tkl.jumbo.dfs configSource="dfs.config"/>
  <tkl.jumbo.jet configSource="jet.config"/>
</configuration>