<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ookii.jumbo.dfs" type="Ookii.Jumbo.Dfs.DfsConfiguration, Ookii.Jumbo.Dfs"/>
    <section name="ookii.jumbo.jet" type="Ookii.Jumbo.Jet.JetConfiguration, Ookii.Jumbo.Jet"/>
  </configSections>
  <ookii.jumbo.dfs configSource="dfs.config"/>
  <ookii.jumbo.jet configSource="jet.config"/>
  <startup>
    <supportedRuntime version="v4.0.30319" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
