<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp">
          <clientProviders>
            <provider type="Tkl.Jumbo.Dfs.ClientChannelSinkProvider, Tkl.Jumbo.Dfs" />
            <formatter ref="binary" />
          </clientProviders>
        </channel>
      </channels>
      <client>
        <wellknown type="Tkl.Jumbo.Dfs.INameServerClientProtocol, Tkl.Jumbo.Dfs" url="tcp://127.0.0.1:9000/NameServer" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>