<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="Tkl.Jumbo.Dfs.IClientProtocol, Tkl.Jumbo.Dfs" url="tcp://localhost:9000/NameServer" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>